[Desktop Entry]
Type=Application
Version=1.0
Name=BBQLinux GSettings
Comment=BBQLinux GSettings
Exec=/usr/bin/bbqlinux-gsettings.sh
Icon=bbqlinux_icon_blue_32x32
Terminal=false
Categories=System;
